@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply bg-black;
        @apply text-white;
      }
}

@layer components{
    .gradient-text {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-500 to-teal-500;
        background-size: 200% auto;
        animation: gradient 10s ease infinite;
    }
    .blob {
        @apply absolute blur-[60px] opacity-15 z-[-1] rounded-full;
    }
    .feature-card {
        @apply transition-all duration-300 hover:translate-y-[-5px];
    }
    .terminal-wrapper {
        @apply font-mono text-gray-300 rounded-lg p-4 shadow-md;
    }
    .cursor {
        @apply inline-block w-2.5 h-5;
        animation: blink 1s step-end infinite;
    }

    
}


@keyframes blink {
    from,
    to {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.opacity-15 {
    opacity: 0.15;
}